<div   class="collapse bg-dark" id="navbarHeader">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 py-4">
        <h4 class="text-white">About</h4>
        <p class="text-muted">Add some information about coomerce.</p>
      </div>
      <div class="col-sm-4 py-4">
        <h4 class="text-white">Contact</h4>
        <ul class="list-unstyled">
          <li><a href="#" class="text-white">Follow on Twitter</a></li>
          <li><a href="#" class="text-white">Like on Facebook</a></li>
          <li><a href="#" class="text-white">Email me</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div  class="navbar navbar-dark bg-dark">
  <div class="container d-flex justify-content-between">
    <a href="#" class="navbar-brand">Tienda</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div><a  [routerLink]="['/products']" style="color:#FFF;"><i class="fa fa-home" aria-hidden="true"></i> <span class="badge">| </span>
    </a>
      <a href="#" [routerLink]="['/product-carrito']"style="color:#FFF;"><i class="fa fa-shopping-cart" aria-hidden="true"></i>  {{migue}}  {{count}}<span class="badge"> </span>
      </a>

<span style="color:#FFF;">| </span>
<a (click)="logout()"  href="#"style="color:#FFF;"> <i class="fa fa-sign-out" aria-hidden="true"></i> Salir{{value}}
</a>  </div>

  </div>


</div>
